<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Arcade Facilitator Tracker</title>
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sticky-footer/">\
  <link rel="icon" type="image/x-icon" href="https://i.ibb.co.com/sVMngs3/arcade-email-mobile-header-transparent.png">
  <style>
    /* Additional custom styles here */
    html,
    body {
      height: 100%;
    }

    body {
      display: flex;
      flex-direction: column;
      background-color: #f8f9fa;
      padding-top: 50px;
    }

    .container {
      flex: 1;
      color: #333;
      margin: 0 auto;
    }

    .btn-start {
      width: 100%;
    }

    #cloudResults,
    #aiResults {
      margin-top: 20px;
    }

    #arcade_logo {
      width: 10vw;
    }

    .footer {
      background-color: #007BFF;
      padding: 1rem 0;
    }

    .footer a {
      color: white;
    }

    h3 {
      font-weight: normal;
    }

    #countdown {
      margin-top: 0;
    }

    ul#fixthis {
      padding-inline-start: 0;
    }

    li {
      display: inline-block;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }

    li span {
      display: block;
      font-size: 3.5rem;
    }
  </style>

  <script>
    (function () {
      const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

      let today = new Date(),
        dd = String(today.getDate()).padStart(2, "0"),
        mm = String(today.getMonth() + 1).padStart(2, "0"),
        yyyy = today.getFullYear(),
        nextYear = yyyy,
        dayMonth = "07/15/",
        xDay = dayMonth + yyyy;

      today = mm + "/" + dd + "/" + yyyy;
      if (today > xDay) {
        xDay = dayMonth + nextYear;
      }
      //end

      const countDown = new Date(xDay).getTime(),
        x = setInterval(function () {

          const now = new Date().getTime(),
            distance = countDown - now;

          document.getElementById("days").innerText = Math.floor(distance / (day)),
            document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
            document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
            document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

          if (distance < 0) {
            document.getElementById("days").innerText = "00"
            document.getElementById("hours").innerText = "00"
            document.getElementById("minutes").innerText = "00"
            document.getElementById("seconds").innerText = "00"
            clearInterval(x);
          }
        }, 0)
    }());
  </script>
</head>

<body>
  <div class="container">
    <img src="https://i.ibb.co.com/sVMngs3/arcade-email-mobile-header-transparent.png" alt=""
      class="d-block mx-auto mb-4" id="arcade_logo">
    <h2 class="text-center mb-2" id="headline-title">Google Arcade Facilitator</h2>
    <h3 class="text-center mb-0"> Tracker & Countdown</h3>

    <div id="countdown" class="text-center">
      <ul id="fixthis">
        <li><span id="days"></span>days</li>
        <li><span id="hours"></span>Hours</li>
        <li><span id="minutes"></span>Minutes</li>
        <li><span id="seconds"></span>Seconds</li>
      </ul>
    </div>

    <form method="post" enctype="application/x-www-form-urlencoded">
      <div class="mb-3">
        <label for="input_public_profile" class="form-label">Qwiklabs Public Profile</label>
        <input type="text" class="form-control" id="input_public_profile" name="profileUrl" required="required"
          placeholder="https://www.cloudskillsboost.google/public_profiles/"></input>
      </div>
      <button type="submit" class="btn btn-primary btn-start mb-4">Start</button>
    </form>

    {% if errors %}
    {% for error_message, error_color in errors %}
    <div id="tierResults">
      <div class="alert alert-{{ error_color }}" role=" alert">
        Qwiklabs Public URL <a href={{ profile_url }} target="_blank" rel="noopener noreferrer"> {{ profile_url }}
        </a> </br>
        {{ error_message }}
      </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if profile_url %}
    {% for tier_result, tier_color in tier_results %}
    <div id="tierResults">
      <div class="alert alert-{{ tier_color }}" role=" alert">
        Qwiklabs Public URL <a href={{ profile_url }} target="_blank" rel="noopener noreferrer"> {{ profile_url }} </a>
        </br>
        {% if cloud_bonus_points == 2.0 %}
        Cloud Points = {{ cloud_points }} + {{ cloud_bonus_points }} (Bonus) </br>
        {% else %}
        Cloud Points = {{ cloud_points }} </br>
        {% endif %}

        {% if ai_bonus_points == 4.0 %}
        AI Points = {{ ai_points }} + {{ ai_bonus_points }} (Bonus) </br>
        {% else %}
        AI Points = {{ ai_points }} </br>
        {% endif %}

        {% if track_bonus_points != 0 and ai_bonus_points != 0 and cloud_bonus_points !=0 %}
        Total Points: {{ cloud_points + ai_points + ai_bonus_points + cloud_bonus_points + track_bonus_points }} </br>

        {% elif track_bonus_points == 0 and ai_bonus_points == 4.0 and cloud_bonus_points == 0 %}
        Total Points: {{ cloud_points + ai_points + ai_bonus_points + cloud_bonus_points }} </br>

        {% elif track_bonus_points == 0 and ai_bonus_points == 0 and cloud_bonus_points == 2.0 %}
        Total Points: {{ cloud_points + ai_points + ai_bonus_points + cloud_bonus_points }} </br>

        {% else %}
        Total Points = {{ cloud_points + ai_points }} </br>
        {% endif %}

        {{ tier_result }} <br>

        More info about prize see this <a
          href="https://www.googlecloudcommunity.com/gc/Learning-Forums/Understanding-The-Arcade-Milestones-and-Prize-Redemption-Rules/td-p/757623"
          target="_blank" rel="noopener noreferrer">link</a>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if cloud_results %}
    <div class="card" id="cloudResults">
      <h5 class="card-header">Cloud Total Points: {{ cloud_points + cloud_bonus_points }} = Cloud Track {{ cloud_points
        }} Points + Cloud Bonus {{ cloud_bonus_points }} Points</h5>
      <div class="">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Kind</th>
              <th scope="col">Labs</th>
              <th class="text-center" scope="col">Points</th>
              <!-- <th class="text-center" scope="col">Date Earned</th> -->
              <th class="text-center" scope="col">Completed</th>
            </tr>
          </thead>
          <tbody>
            {% for badge_type, badge_label, badge_name, badge_url, points, completed in cloud_results %}
            <tr>
              <td> {{ badge_type }} </td>
              <td>
                <a href="{{ badge_url }}" target="_blank"> {{ badge_label }} </a>
              </td>
              <td class="text-center"> {{ points }} </td>
              <!-- <th class="text-center" scope="col"> {{ badge_time }} </th> -->
              <td class="text-center"> {{ completed }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

    {% if ai_results %}
    <div class="card mb-3" id="aiResults">
      <h5 class="card-header">AI Total Points: {{ ai_points + ai_bonus_points }} = AI Track {{ ai_points
        }} Points + AI Bonus {{ ai_bonus_points }} Points </h5>
      <div class="">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Kind</th>
              <th scope="col">Labs</th>
              <th class="text-center" scope="col">Points</th>
              <!-- <th class="text-center" scope="col">Date Earned</th> -->
              <th class="text-center" scope="col">Completed</th>
            </tr>
          </thead>
          <tbody>
            {% for badge_type, badge_label, badge_name, badge_url, points, completed in ai_results %}
            <tr>
              <td> {{ badge_type }} </td>
              <td>
                <a href="{{ badge_url }}" target="_blank"> {{ badge_label }} </a>
              </td>
              <td class="text-center"> {{ points }} </td>
              <!-- <th class="text-center"> {{ badge_time }} </th> -->
              <td class="text-center"> {{ completed }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  </div>

  <footer class="footer mt-auto py-1 bg-body-tertiary text-center sticky-bottom">
    <div class="container">
      <span class="text-body-secondary text-center text-white"> 1% idea and 99% powered by chatGPT. Chat
        <a href="https://t.me/medivaliverse" target="_blank" rel="noopener noreferrer"> https://t.me/medivaliverse </a>
        for any issues or
        feedback </span>
    </div>
  </footer>
  <!-- Bootstrap JS CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>